<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>

<h1>
    HELLO WORLD!!!
</h1>

<th:block th:each="shop : ${bestRatingShops}">
    <div>
        <span th:text="${shop.getUserId()}"></span>
        <span th:text="${shop.getDescription()}"></span>
        <span th:text="${shop.getName()}"></span>
        <span th:text="${shop.getEmail()}"></span>
        <img th:src="*{shop.getLogo().getImageInBase64WithMimetypePrefix()}" alt="alt SHOP LOGO" src="">
        <tr>
    </div>
</th:block>

<th:block th:each="item : ${bestRatingItems}">
    <div>
        <span th:text="${item.getName()}"></span>
        <span th:text="${item.getDescription()}"></span>
        <span th:text="${item.getName()}"></span>
        <span th:text="${item.getBasePrice()}"></span>
        <img th:src="*{item.getImageDto().getImageInBase64WithMimetypePrefix()}" alt="alt ITEM LOGO" src="">
        <tr>
    </div>
</th:block>

<div>

</div>
</body>
</html>